p {
  color: red;
  text-align: center;
  font-family: 'AtlasGrotesk', sans-serif;
}

form {
  width: 50%;
  margin: auto;
}

label {
  padding-left: 10px;
  font-size: 12px;
  font-family: 'BrandonGrotesque', sans-serif;
}

input {
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  font-size: 15px;
  font-family: 'BrandonGrotesque', sans-serif;
}

.button {
  text-align: right;
}

button {
  background-color: red;
  color: white;
  border-radius: 20px;
  width: 100px;
  padding: 8px;
  font-size: 13px;
  font-family: 'AtlasGrotesk', sans-serif;
}

select {
  width: 100%;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 5px;
  background-color: #ddd4d4;
  font-size: 15px;
  font-family: 'BrandonGrotesque', sans-serif;
  padding-left: 3px;
}

div {
  margin-bottom: 15px;
}
