button {
  width: 190px;
  height: 40px;
  font-size: 20px;
}

button:hover {
  background-color: black;
  color: white;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: rgb(204, 184, 190);
}
