* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 46, 46);
  height: 1000px;
}

.lightbulb {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: inline-block;
  border: solid rgb(48, 46, 46);
}

.lightOn {
  background-color: rgb(250, 248, 117);
  box-shadow: transparent;
  width: 300px;
  height: 300px;
  display: inline-block;
  border: solid rgb(250, 248, 117);
}

.lightOff {
  background-color: rgb(95, 94, 94);
  box-shadow: 0 -25px;
  border: solid rgb(95, 94, 94);
}
