* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

.container {
  margin: auto;
  justify-content: center;
  max-width: 1000px;
  align-items: center;
}

.column-one-half {
  width: 50%;
}

.column-full {
  width: 100%;
}

.column-one-half-half {
  display: flex;
  flex-wrap: wrap;
  width: 10px;
}

h2 {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: italic;
}

h3 {
  font-family: 'Tiempos Headline', sans-serif;
}

h4 {
  font-family: 'Avenir', sans-serif;
}

p {
  font-family: 'Avenir', sans-serif;
}

.h3-emr {
  color: white;
  padding-top: 50px;
  width: 300px;
}

.h3-clinicians {
  text-align: center;
  padding-top: 10px;
}

.first-canvas {
  color: darkblue;
  font-size: 25px;
}

.second-canvas {
  color: white;
  font-size: 25px;
  margin-left: 70px;
  margin-top: 60px;
}

.row-six-background {
  background-color: rgb(82, 83, 81);
  display: flex;
  width: 1000px;
  height: 300px;
}

.row-three-background {
  background-color: rgb(250, 250, 250);
  height: 300px;
}

.margin-between-row {
  margin-top: 50px;
}

.wrap-row-three {
  flex-wrap: wrap;
  text-align: center;
}

.picture-height {
  height: 500px;
  width: 1000px;
}

.picture {
  background-image: url('images/hero.jpg');
  background-size: cover;
}

.bottom-nav {
  display: flex;
  width: 20px;
}

.top-nav {
  font-size: 15px;
}

.nav {
  display: flex;
  color: white;
  font-size: 18px;
}

.white-nav {
  color: white;
}

.ready-paragraph {
  font-size: 10px;
}

.clinicians-paragraph {
  text-align: center;
  font-size: 14px;
  width: 415px;
  margin-left: 300px;
}

.emr-header {
  padding-left: 60px;
}

.emr-paragraph {
  width: 440px;
  color: white;
}

.padding-left-paragraph {
  padding-left: 60px;
}

.ready {
  display: flex;
}

.get-started-button-one {
  color: white;
  background-color: rgb(42, 42, 156);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 38px;
  padding-left: 38px;
  margin-left: 50px;
  margin-top: 10px;
}

.get-started-button-two {
  color: white;
  background-color: rgb(42, 42, 156);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 38px;
  padding-left: 38px;
}

.align {
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
}

.text-align {
  text-align: center;
}

.flex-column-one-half {
  display: flex;
  margin-top: 50px;
}

.canvas-address {
  color: white;
  margin-left: 70px;
  font-size: 13px;
}
