* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

.container {
  margin: auto;
  justify-content: center;
}

.column-one-half {
  width: 50%;
}

.column-full {
  width: 100%;
}

.column-one-half-half {
  display: flex;
  flex-wrap: wrap;
  width: 10px;
}

h2 {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: italic;
}

h3 {
  font-family: 'Tiempos Headline', sans-serif;
}

h4 {
  font-family: 'Avenir', sans-serif;
}

p {
  font-family: 'Avenir', sans-serif;
}

.h3-emr {
  color: white;
  padding-top: 50px;
  width: 300px;
}

.h3-clinicians {
  text-align: center;
}

.first-canvas {
  color: darkblue;
}

.second-canvas {
  color: white;
}

.row-six-background {
  background-color: rgb(82, 83, 81);
  display: flex;
}

.row-three-background {
  background-color: rgb(250, 250, 250);
}

.row-four-background {
  background-color: rgb(250, 250, 250);
}

.picture {
  background-image: url('images/hero.jpg');
}

.bottom-nav {
  display: flex;
  width: 10px;
}

.top-nav {
  /* add stuff later */
}

.nav {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}

.nav > * {
  margin-bottom: 50px;
}

.ready-paragraph {
  font-size: 10px;
}

.clinicians-paragraph {
  text-align: center;
  font-size: 10px;
}

.emr-paragraph {
  width: 400px;
}

.button-two {
  justify-content: end;
  display: flex;
}

.ready {
  display: flex;
}

.get-started-button {
  color: white;
  background-color: rgb(42, 42, 156);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

.top-row-flex {
  display: flex;
}
